<div class="personal-body">
<div class="row" style="margin-top:20px;">
  <app-avatorcon style="display:inline-block;margin-left:20px;"></app-avatorcon>
  <app-signcon style="display:inline-block;margin-left:20px;"></app-signcon>
</div>

<div class="personal-property">
    <app-propertycon [num]='6' mytext="动态" style="display:inline-block;width:93px;padding:0px;"></app-propertycon>
    <div class="personal-leftboder"></div>
    <app-propertycon [num]='36' mytext="关注" style="display:inline-block;width:93px;padding:0px;"></app-propertycon>
    <div class="personal-leftboder"></div>
    <app-propertycon [num]='8' mytext="粉丝" style="display:inline-block;width:93px;padding:0px;"></app-propertycon>
</div>

<div>
    <app-pointcon></app-pointcon>
</div>
</div>