<div>
  <div class="point-top">
    <ul class="point-ul">
      <li>
        <app-personal-itemcon itemName='我的会员' itemDes='2017.11.04到期' itemTag='WDHY'></app-personal-itemcon>
      </li>
      <li>
        <app-personal-itemcon itemName='等级' itemDes='Lv.8' itemTag='DJ'></app-personal-itemcon>
      </li>
      <li>
        <app-personal-itemcon itemName='积分商城' itemDes='1049积分' itemTag='JF'></app-personal-itemcon>
      </li>
    </ul>
  </div>

  <div class="point-top">
    <ul class="point-ul">
      <li>
        <app-personal-itemcon itemName='个人信息设置' itemDes='' itemTag='WDHY'></app-personal-itemcon>
      </li>
      <li>
        <app-personal-itemcon itemName='绑定社交账号' itemDes='' itemTag='DJ'></app-personal-itemcon>
      </li>
      <li>
        <app-personal-itemcon itemName='导出歌单' itemDes='' itemTag='JF'></app-personal-itemcon>
      </li>
    </ul>
  </div>

  <div class="point-top">
        <ul class="point-ul">
          <li>
            <app-personal-itemcon itemName='退出登录' itemDes='' itemTag='WDHY'></app-personal-itemcon>
          </li>
        </ul>
      </div>
</div>
